main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 1rem 0;
}

.rounded {
  max-height: 500px;
  min-height: 500px;

  width:100%;
}

.img-size {
  width: 100%;
  height: 300px;
}


.img-size {
  width: 100%;
  height: 300px;
}



h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.khaltiButton {
  width: 100%;
  padding: 3px;
  background-color: purple;
  height: 50px;
  border: 1px solid purple;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.ml-auto {
  margin-left: auto;
}